.calendar-2024-button {
    width: 201px;
    height: 32px;
    margin-top: 20px;
    background-color: #D6351F;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.04em;
    text-align: center;
    border-color: transparent;
}